html
  head
    title= title
  body
    h1= title

    p#numContracts

    button(onclick='buy()') Buy

    div.abi(data-abi=obj)

    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="js/app.js")
