html
  head
    title= title
  body(data-contract-address=contractAddress)
    h1= title

    p#numContracts

    button(onclick='App.callAction()') Call Action

    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="js/app.js")
